@media screen and (max-width: 1200px) {
  .nav label {
    display: block;
  }

  .nav ul li a {
    font-size: 16px;
  }

  .nav ul {
    position: fixed;
    height: 100vh;
    width: 180px;
    right: -100%;
    top: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.6s;
    z-index: 10;
    background-color: #f9fafb;
  }

  .nav ul li {
    margin: 16px 0;
  }

  .nav ul li a {
    color: #5b5b5b;
  }

  #check:checked ~ ul {
    right: 0;
  }

  .service .container {
    padding: 4rem 2.5rem 3rem;
  }

  .footer .container {
    padding: 4rem 2.5rem;
  }

  .footer-grid {
    grid-column-gap: 24px;
  }

  .footer i,
  .footer .text,
  .footer ul li a {
    font-size: 0.9em;
  }
}

/*  */

@media screen and (max-width: 950px) {
  .main-content .container {
    flex-direction: column-reverse;
    padding: 0;
  }

  .main-content .mc-right {
    height: 480px;
    margin-top: 50px;
  }

  .main-content .mc-left {
    margin-bottom: 50px;
    text-align: center;
  }

  .main-content .mc-left p {
    text-align: center;
  }

  .overlay {
    display: none;
  }

  /* ----------- */

  .abt-left {
    display: none;
  }

  .abt-right > div:first-child {
    text-align: center;
  }

  /* ----------- */

  .crd-srv {
    width: 85%;
    height: 175px;
    flex-direction: row;
    padding: 1.2rem 1rem;
  }

  .service .crd-srv-img {
    margin: 0;
  }

  .crd-srv-img img {
    width: 100px;
  }

  /* ----------- */

  .cont-right {
    width: 290px;
  }

  .cont-left {
    width: 370px;
  }

  .contact .title-sc {
    font-size: 1.2em;
  }

  .cont-left p {
    font-size: 14px;
  }

  .cont-info li {
    font-size: 0.95rem;
  }

  .cont-medsos img {
    width: 34px;
  }

  .cont-bottom {
    width: 740px;
  }

  .cont-bottom p {
    font-size: 0.87rem;
    margin: 2rem 0 1.5rem;
  }

  /* ----------- */

  .footer .container {
    padding: 4rem 4.5rem 3.5rem;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 300px;
    grid-column-gap: 50px;
  }

  .footer-followme {
    grid-area: 1 / 1 / 2 / 4;
  }
  .footer-map {
    grid-area: 2 / 2 / 3 / 5;
  }
  .footer-srv {
    grid-area: 1 / 4 / 2 / 5;
  }
  .footer-links {
    grid-area: 1 / 5 / 2 / 6;
  }

  .footer i,
  .footer .text,
  .footer ul li a {
    font-size: 1em;
  }

  .bottom-footer {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.67rem;
  }

  .title:before {
    font-size: 0.67rem;
  }

  .port .crd-port-wrap {
    gap: 18px 18px;
  }
  .crd-port-img,
  .crd-port-img img {
    width: 260px;
    height: 155px;
  }

  .card-content h5,
  .card-content p {
    font-size: 0.8em;
  }

  .card-srt-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    place-items: center;
  }

  /* ----------- */

  .cont-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cont-right,
  .cont-left {
    width: 450px;
  }

  .cont-form {
    margin: 0;
  }

  .cont-medsos {
    justify-content: space-between;
    margin: 2.2rem 0 2.3rem;
  }

  .cont-medsos img {
    margin: 0;
  }

  .cont-bottom {
    width: 560px;
  }

  .cont-bottom p {
    font-size: 0.8rem;
    margin: 2rem 0 1.5rem;
  }

  /* --------- */

  .footer .container {
    padding: 4rem 2rem 3.5rem;
  }

  .footer-grid {
    grid-column-gap: 20px;
  }

  .footer ul li a {
    font-size: 0.92em;
  }
}

@media screen and (max-width: 600px) {
  .nav .container {
    padding: 0 1.5rem;
  }

  .main-content .mc-right {
    height: 450px;
    margin-top: 50px;
  }

  .main-content .mc-right img {
    width: 290px;
  }

  .main-content .mc-left .my-name {
    font-size: 38px;
  }

  .main-content .mc-left .title-sc {
    font-weight: 400;
    font-size: 18px;
  }

  .main-content .mc-left .text {
    width: 82%;
    margin: 1.35rem auto;
    font-size: 12.6px;
  }

  /* ----------- */

  .about .container {
    padding: 2rem 1rem 1.5rem;
  }

  .abt-right {
    width: 100%;
  }

  .abt-right .title-sc {
    font-size: 17.8px;
    width: 100%;
    text-align: center;
    margin-bottom: 0.4rem;
  }

  .abt-right .text {
    font-size: 13px;
    text-align: center;
    line-height: 19px;
  }

  .abt-list p {
    font-size: 13px;
  }

  .abt-list :nth-child(even) {
    margin: 6px 0;
  }

  .abt-list i {
    font-size: 15px;
  }
  /* ----------- */

  .qualification .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .qlfcn:nth-child(odd) {
    transform: translateX(128.65px);
    border-left: 3px solid #444648;
    border-right: none;
    padding: 20px 0 55px 48px;
  }

  .qlfcn:nth-child(odd)::before {
    left: -9px;
  }

  .qlfcn:nth-child(odd) div::before {
    left: -9.5px;
  }

  /* ----------- */

  .service .container {
    padding: 4rem 1rem 3rem;
  }

  .crd-srv-artc .title-sc {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
  }

  .crd-srv-artc .text {
    text-align: center;
    font-size: 12.5px;
  }

  .crd-srv {
    padding: 1.1rem 0.75rem;
    width: 100%;
  }

  .crd-srv-img {
    min-width: 150px;
    min-height: 150px;
  }

  .crd-srv-img img {
    width: 100px;
  }

  /* ----------- */

  .skills .container {
    padding: 0 1.85rem;
  }

  /* ------------ */

  .port .crd-port-wrap {
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
  }

  .crd-port-img {
    width: 310px;
    height: 180px;
  }

  .crd-port-img img {
    width: 310px;
    height: 180px;
  }

  .card-content {
    height: 150px;
  }

  .card-content h5 {
    font-size: 1em;
  }

  /* ----------- */

  .blog .container {
    padding: 0 1rem 1.2rem;
  }

  .blog-crd,
  .blog-crd-img,
  .blog-crd img {
    min-width: 242px;
    max-width: 242px;
  }

  .blog-crd img {
    height: 160px;
  }

  .blog-artc {
    padding: 0 10px 1.3rem;
  }

  .blog-crd span {
    font-size: 0.68em;
    margin: 0.55rem 0 0.3rem;
    font-weight: 400;
  }

  .blog-crd h4 {
    font-size: 0.8em;
    margin-bottom: 0.2rem;
  }

  .blog-crd .text {
    font-size: 0.62em;
    margin-bottom: 0.7rem;
  }

  .blog-crd .btn {
    border-radius: 4px;
    font-size: 12px;
    padding: 4px 10px;
  }

  /* ----------- */

  .contact .container {
    padding: 0 1rem;
  }

  .cont-right,
  .cont-left {
    width: 100%;
  }

  /* ----------- */
}
